<div style="margin-top: 20%;" *ngIf="articles.length > 0">
    <div *ngFor="let article of articles; let i = index">
        <form>
            <div class="card ">
                <div class="card-header-info-crono " style="padding: 5px;">
                    <div class="row">
                        <h3>
                            <span class="title-default" title="Modifica Operazione" >Riassunto Articolo {{i + 1}}                            
                            </span>     
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="label-row-crono">
                        <div class="allign_crono_row">
                                <label for="language">lingua:</label>
                        </div>
                        <div class="allign_crono_row"> 
                            <input type="text" id="language" name="language" [(ngModel)]="article.Info.language">
                        </div>
                    </div>
                    <div class="label-row-crono">
                        <div class="allign_crono_row">
                            <label for="title">Titolo: </label>
                        </div>
                        <div class="allign_crono_row">
                            <input type="text" id="title" name="title" [(ngModel)]="article.Info.title">
                        </div>
                    </div>
                    <div class="label-row-crono">
                        <div class="allign_crono_row">
                            <label for="infoDestinationID">Sottotitolo: </label>
                        </div>
                        <div class="allign_crono_row">
                            <input type="text" id="subTitle" name="subTitle" [(ngModel)]="article.Info.subTitle">
                        </div>
                    </div>
                    <div class="label-row-crono">
                        <div class="allign_crono_row">
                            <label for="description">Descrizione: </label>
                        </div>
                        <div class="allign_crono_row">
                            <input type="description" id="description" name="description" [(ngModel)]="article.Info.description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="allign_crono_row">
                            <label for="infoDestinationID">Città: </label>
                        </div>
                        <div class="allign_crono_row">
                            <input type="text" id="infoDestinationID" name="infoDestinationID" [(ngModel)]="article.Info.infoDestinationID">
                        </div>
                        </div>
                    <div  class="label-row-crono">
                        <img class="resizedImg" [src]="article.Info.infoMediaImg" alt="Immagine articolo" />
                    </div>
                </div>
                <div *ngFor="let paragraph of article.Paragraphs; let j = index">
                    <div class="card-header-paragraph-crono" style="padding: 2px;">
                        <div class="row">
                            <h3>
                                <span  title="Modifica Operazione" >Riassunto Paragrafo {{j + 1}} relativo 
                                    all articolo {{i + 1}}                         
                                </span>     
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="label-row-crono">
                            <label for="paragraphTitle">Titolo del paragrafo: </label>
                            <input type="text" id="paragraphTitle" name="paragraphTitle" [(ngModel)]="paragraph.paragraphTitle">
                        </div>
                        <div class="label-row-crono">
                            <label for="paragraphDestinationID">Titolo del paragrafo: </label>
                            <input type="text" id="paragraphDestinationID" name="paragraphDestinationID" [(ngModel)]="paragraph.paragraphDestinationID">
                        </div>
                        <div class="label-row-crono">
                            <label for="paragraphText">Descrizione del paragrafo: </label>
                            <div class="allign_crono_row">
                                <textarea id="myTextarea" name="paragraphText" rows="4" cols="150" [(ngModel)]="paragraph.paragraphText"></textarea>
                            </div>
                        </div>
                        <div *ngIf="paragraph.paragraphMediaImg" class="label-row-crono">
                            <img class="resizedImg" [src]="paragraph.paragraphMediaImg" alt="Immagine paragrafo" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


