.card-header-info-crono {
    background: green !important;
    color: #ff0000 !important;
    margin-top: 30px;
}

.card-header-paragraph-crono {
    background: #aea04b !important;
    color: black !important;
    margin-top: 30px;
}

.card-body {
    color: #23527c !important;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #23527c !important;
}

.title-default {
    color: white;
}


.row {
    margin-bottom: 30px;
}


#myTextarea {
    max-width: 100% !important;
}

.label-row-crono {
    width: 45%;
    display: inline-block;
    margin-bottom: 23px;
}
.form-span {
    color: grey;
}
.required-icon{
    margin-right: 14px;
}
.resizedImg{
    width: 100px;
    height: 100px;
}

input[type="text" i] {
    height: 20px;
}

.allign_crono_row {
    display: inline-block;
    width: 50%;
}